[Unit]
Description=BAATL Auto-Labeler
After=network.target
Requires=ozone.service
StartLimitIntervalSec=300
StartLimitBurst=24

[Service]
ExecStart=/usr/bin/node /ozone/auto/baatl-autolabeler/firehoseLabeler.js
Restart=on-failure
RestartSec=10
EnvironmentFile=/ozone/labelers/baatl.env

[Install]
WantedBy=default.target
